{% load staticfiles %}

<!-- Header -->
<header id="header" class="reveal alt">
	<a href="/"><img id="white-logo" src='{% static "images/logo-white.png" %}'></a>
	<nav id="nav">
		<ul>
			<li>
				<a href="#" class="icon fa-angle-down">Menu</a>
				<ul>
					<li><a href="/about/">about</a></li>
					<li><a href="performance.html">performance</a></li>
					<li><a href="elements.html">elements</a></li>
					<li>
						<a href="/members/">members</a>
						<ul>
							<li><a href="#">executive board</a></li>
							<li><a href="#">head analyst</a></li>
							<li><a href="#">analyst</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</header>